<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pxene.pap.repository.mapper.basic.IndustryModelMapper" >
  <resultMap id="BaseResultMap" type="com.pxene.pap.domain.model.basic.IndustryModel" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="tanx" property="tanx" jdbcType="VARCHAR" />
    <result column="imobi" property="imobi" jdbcType="VARCHAR" />
    <result column="letv" property="letv" jdbcType="VARCHAR" />
    <result column="baidu" property="baidu" jdbcType="VARCHAR" />
    <result column="adview" property="adview" jdbcType="VARCHAR" />
    <result column="google" property="google" jdbcType="VARCHAR" />
    <result column="iqiyi" property="iqiyi" jdbcType="VARCHAR" />
    <result column="tencent" property="tencent" jdbcType="VARCHAR" />
    <result column="autohome" property="autohome" jdbcType="VARCHAR" />
    <result column="autohomename" property="autohomename" jdbcType="VARCHAR" />
    <result column="sohu" property="sohu" jdbcType="VARCHAR" />
    <result column="momo" property="momo" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, tanx, imobi, letv, baidu, adview, google, iqiyi, tencent, autohome, autohomename, 
    sohu, momo, remark, createtime, updatetime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pxene.pap.domain.model.basic.IndustryModelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from pap_t_industry
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from pap_t_industry
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from pap_t_industry
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pxene.pap.domain.model.basic.IndustryModelExample" >
    delete from pap_t_industry
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pxene.pap.domain.model.basic.IndustryModel" >
    insert into pap_t_industry (id, name, tanx, 
      imobi, letv, baidu, 
      adview, google, iqiyi, 
      tencent, autohome, autohomename, 
      sohu, momo, remark, 
      createtime, updatetime)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{tanx,jdbcType=VARCHAR}, 
      #{imobi,jdbcType=VARCHAR}, #{letv,jdbcType=VARCHAR}, #{baidu,jdbcType=VARCHAR}, 
      #{adview,jdbcType=VARCHAR}, #{google,jdbcType=VARCHAR}, #{iqiyi,jdbcType=VARCHAR}, 
      #{tencent,jdbcType=VARCHAR}, #{autohome,jdbcType=VARCHAR}, #{autohomename,jdbcType=VARCHAR}, 
      #{sohu,jdbcType=VARCHAR}, #{momo,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pxene.pap.domain.model.basic.IndustryModel" >
    insert into pap_t_industry
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="tanx != null" >
        tanx,
      </if>
      <if test="imobi != null" >
        imobi,
      </if>
      <if test="letv != null" >
        letv,
      </if>
      <if test="baidu != null" >
        baidu,
      </if>
      <if test="adview != null" >
        adview,
      </if>
      <if test="google != null" >
        google,
      </if>
      <if test="iqiyi != null" >
        iqiyi,
      </if>
      <if test="tencent != null" >
        tencent,
      </if>
      <if test="autohome != null" >
        autohome,
      </if>
      <if test="autohomename != null" >
        autohomename,
      </if>
      <if test="sohu != null" >
        sohu,
      </if>
      <if test="momo != null" >
        momo,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tanx != null" >
        #{tanx,jdbcType=VARCHAR},
      </if>
      <if test="imobi != null" >
        #{imobi,jdbcType=VARCHAR},
      </if>
      <if test="letv != null" >
        #{letv,jdbcType=VARCHAR},
      </if>
      <if test="baidu != null" >
        #{baidu,jdbcType=VARCHAR},
      </if>
      <if test="adview != null" >
        #{adview,jdbcType=VARCHAR},
      </if>
      <if test="google != null" >
        #{google,jdbcType=VARCHAR},
      </if>
      <if test="iqiyi != null" >
        #{iqiyi,jdbcType=VARCHAR},
      </if>
      <if test="tencent != null" >
        #{tencent,jdbcType=VARCHAR},
      </if>
      <if test="autohome != null" >
        #{autohome,jdbcType=VARCHAR},
      </if>
      <if test="autohomename != null" >
        #{autohomename,jdbcType=VARCHAR},
      </if>
      <if test="sohu != null" >
        #{sohu,jdbcType=VARCHAR},
      </if>
      <if test="momo != null" >
        #{momo,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pxene.pap.domain.model.basic.IndustryModelExample" resultType="java.lang.Integer" >
    select count(*) from pap_t_industry
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pap_t_industry
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.tanx != null" >
        tanx = #{record.tanx,jdbcType=VARCHAR},
      </if>
      <if test="record.imobi != null" >
        imobi = #{record.imobi,jdbcType=VARCHAR},
      </if>
      <if test="record.letv != null" >
        letv = #{record.letv,jdbcType=VARCHAR},
      </if>
      <if test="record.baidu != null" >
        baidu = #{record.baidu,jdbcType=VARCHAR},
      </if>
      <if test="record.adview != null" >
        adview = #{record.adview,jdbcType=VARCHAR},
      </if>
      <if test="record.google != null" >
        google = #{record.google,jdbcType=VARCHAR},
      </if>
      <if test="record.iqiyi != null" >
        iqiyi = #{record.iqiyi,jdbcType=VARCHAR},
      </if>
      <if test="record.tencent != null" >
        tencent = #{record.tencent,jdbcType=VARCHAR},
      </if>
      <if test="record.autohome != null" >
        autohome = #{record.autohome,jdbcType=VARCHAR},
      </if>
      <if test="record.autohomename != null" >
        autohomename = #{record.autohomename,jdbcType=VARCHAR},
      </if>
      <if test="record.sohu != null" >
        sohu = #{record.sohu,jdbcType=VARCHAR},
      </if>
      <if test="record.momo != null" >
        momo = #{record.momo,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null" >
        updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pap_t_industry
    set id = #{record.id,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      tanx = #{record.tanx,jdbcType=VARCHAR},
      imobi = #{record.imobi,jdbcType=VARCHAR},
      letv = #{record.letv,jdbcType=VARCHAR},
      baidu = #{record.baidu,jdbcType=VARCHAR},
      adview = #{record.adview,jdbcType=VARCHAR},
      google = #{record.google,jdbcType=VARCHAR},
      iqiyi = #{record.iqiyi,jdbcType=VARCHAR},
      tencent = #{record.tencent,jdbcType=VARCHAR},
      autohome = #{record.autohome,jdbcType=VARCHAR},
      autohomename = #{record.autohomename,jdbcType=VARCHAR},
      sohu = #{record.sohu,jdbcType=VARCHAR},
      momo = #{record.momo,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      updatetime = #{record.updatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pxene.pap.domain.model.basic.IndustryModel" >
    update pap_t_industry
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tanx != null" >
        tanx = #{tanx,jdbcType=VARCHAR},
      </if>
      <if test="imobi != null" >
        imobi = #{imobi,jdbcType=VARCHAR},
      </if>
      <if test="letv != null" >
        letv = #{letv,jdbcType=VARCHAR},
      </if>
      <if test="baidu != null" >
        baidu = #{baidu,jdbcType=VARCHAR},
      </if>
      <if test="adview != null" >
        adview = #{adview,jdbcType=VARCHAR},
      </if>
      <if test="google != null" >
        google = #{google,jdbcType=VARCHAR},
      </if>
      <if test="iqiyi != null" >
        iqiyi = #{iqiyi,jdbcType=VARCHAR},
      </if>
      <if test="tencent != null" >
        tencent = #{tencent,jdbcType=VARCHAR},
      </if>
      <if test="autohome != null" >
        autohome = #{autohome,jdbcType=VARCHAR},
      </if>
      <if test="autohomename != null" >
        autohomename = #{autohomename,jdbcType=VARCHAR},
      </if>
      <if test="sohu != null" >
        sohu = #{sohu,jdbcType=VARCHAR},
      </if>
      <if test="momo != null" >
        momo = #{momo,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pxene.pap.domain.model.basic.IndustryModel" >
    update pap_t_industry
    set name = #{name,jdbcType=VARCHAR},
      tanx = #{tanx,jdbcType=VARCHAR},
      imobi = #{imobi,jdbcType=VARCHAR},
      letv = #{letv,jdbcType=VARCHAR},
      baidu = #{baidu,jdbcType=VARCHAR},
      adview = #{adview,jdbcType=VARCHAR},
      google = #{google,jdbcType=VARCHAR},
      iqiyi = #{iqiyi,jdbcType=VARCHAR},
      tencent = #{tencent,jdbcType=VARCHAR},
      autohome = #{autohome,jdbcType=VARCHAR},
      autohomename = #{autohomename,jdbcType=VARCHAR},
      sohu = #{sohu,jdbcType=VARCHAR},
      momo = #{momo,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>